*{
    background: #cfe2e2cf;
}
.text-center{
    text-align: center;
  }
  
  .bg-red{
    background: red;
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }

  html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif; 
  }
  
  .button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid rgb(236, 16, 16);
    border-radius: 9px;
    cursor: pointer;
  }
  
  .full-border{
    border: 8px solid rgb(11, 35, 16);
    margin: 10px 400px 10px 400px;
  }

  .row{
    margin: 8px 0;
  }
  .row input{
    width: 291px;
    font-size: 20px;
      margin: 0;
      padding: 10px 0px;
      border: 2px solid black;
      border-radius: 5px;
  }

.button:hover{
    background-color: rgb(85, 188, 188);
}
